@import "tailwindcss";
@import "./components.css";
@import "./swiper.css";
@import "./burger.css";
@import "./media.css";

html {
	scroll-behavior: smooth;
}

p {
	font-size: 17px;
	line-height: 25px;
}

h3 {
	font-size: 21.25px;
	font-weight: 600;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0;
	height: 0;
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
}

.active-thumb {
	transform: scale(0.70);
	opacity: 0.5;
	transition: transform 0.3s;
}
