.headerContent::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.headerFirstContent::before {
	height: 60px;
	background-color: #f5fbff;
	z-index: 10;
}

.headerSecondContent::before {
	top: 60px;
	height: 80px;
	background-color: #ffffff;
	z-index: 11;
}
